body {
  background-color: #77dd77;
}

.outer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 17%;
  width: 1000px;
  height: 1150px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.title {
  margin-bottom: 5%;
  margin-top: 3%;
  text-align: center;
  color: #19a700;
}

.btn {
  margin-left: 175px;
  margin-top: 65px;
  width: 25%;
  border-radius: 1rem;
  padding: 1.5%;
  cursor: pointer;
}
